<footer class="footer">
  <p>Copyright (C) 2017-2018 <a href="https://jcayouette.github.io/uyuni-doc-test">Uyuni</a></p>
  <p>Testing Disclaimer...</p>
</footer>
<script src="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.js"></script>
<!-- fetched from https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.js -->
<script>
function focusSearchInput () { document.querySelector('#search-input').focus() }
var search = docsearch({
  appId: '#',
  apiKey: '#',
  indexName: '#',
  inputSelector: '#search-input',
  autocompleteOptions: { hint: false, keyboardShortcuts: ['s'] },
  algoliaOptions: { hitsPerPage: 10 }
}).autocomplete
search.on('autocomplete:closed', function () { search.autocomplete.setVal() })
focusSearchInput()
window.addEventListener('load', focusSearchInput)
</script>
